<%= form_for neighborhoods_path, remote: true do |f| %>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %> <br>
  <%= submit_tag "", :id => 'submit', :style => "display: none;" %>
<% end %>

<script>
    var lat = document.getElementById("_neighborhoods_latitude");
    var lon = document.getElementById("_neighborhoods_longitude");
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        lat.value = position.coords.latitude;
        lon.value = position.coords.longitude;
        submitLocation();
    }

    function submitLocation() {
      $("#submit").click();
    }

    getLocation();

  </script>

</body>
</html>
