/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require normalize-rails
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800);
body {
  font-family: "Open Sans";
  color: #2c3e50;
  text-align: center;
}



.main {
  background-color: white;
  width: 35%;
  float: left;
}
.container {
  padding: 10px 0;
  margin: 0;
}
#neighborhood {
  h2 {
    font-weight: 700;
    margin: 0;
    padding-top: 20px;
  }
  h1 {
    font-weight: 800;
    padding: 0;
    margin: 0;
  }
}
#establishments {
  padding: 10px 0;
  h2 {
    margin-top: 5px;
  }
  #restaurant,
  #bar {
    padding-top: 15px;
    display: inline-block;
    width: 180px;
    margin-bottom: 0;
    vertical-align: top;
  }
  #restaurant {
    padding-right: 15px;
  }
  #bar {
    display: inline-block;
    padding-left: 15px;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
  }
}
#bedroom {
  #bedroom h1 {
    font-weight: 700;
    padding: 0;
    margin: 9px;
  }
  #bedroom_h2 {
    font-weight: 700;
    margin: 0;
    padding-top: 0;
  }
  #bedroom h2 {
    margin: 0 0 5px;
  }
}
a {
  text-decoration: none;
  color: #2c3e50;
}
#votes {
  span {
    margin-left: -7px;
    font-size: 23pt;
    display: block;
  }
  h2 {
    padding-top: 5px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  #up_vote,
  #down_vote {
    display: inline-block;
    h2 {
      padding-top: 5px;
      display: inline-block;
      width: 180px;
    }
  }
}
#map {
  width: 65%;
  height: 100vh;
  float: right;
}
@media screen and (max-width: 1000px) {
  .main {
    width: 100%;
    color: white;
  }
  .container {
    padding: 10px 0;
    margin: 0;
    height: 250px;
  }
  #neighborhood {
    background-color: #3c97d3;
    text-align: center;
    h2 {
      font-weight: 700;
      margin: 0;
      padding-top: 50px;
    }
    h1 {
      font-weight: 800;
      padding: 0;
      margin: 0;
    }
  }
  #establishments {
    background-color: #f39c12;
    text-align: center;
    padding: 30px 0;
  }
  h2 {
    margin-top: 35px;
  }
  #restaurant,
  #bar {
    padding-top: 15px;
    text-align: center;
    display: inline-block;
    width: 180px;
    h3 {
      font-size: 20px;
      font-weight: 600;
    }
    #restaurant {
      padding-right: 15px;
    }
    #bar {
      padding-left: 15px;
    }
  }
  #bedroom {
    background-color: #955aa4;
    text-align: center;
    h1 {
      font-weight: 700;
      padding: 0;
      margin: 9px;
    }
    h2 {
      margin: 29px 0 5px;
      font-weight: 700;
      margin: 0;
      padding-top: 45px;
    }
  }
  a {
    color: white;
  }
  #votes {
    background-color: #e64b3b;
    text-emphasis: center;
    text-align: center;
    span {
      margin-left: -7px;
      font-size: 23pt;
      display: block;
    }
    h2 {
      padding-top: 18px;
      margin-bottom: 10px;
      font-weight: 700;
    }
    #up_vote,
    #down_vote {
      display: inline-block;
      h2 {
        padding-top: 5px;
        display: inline-block;
        width: 180px;
      }
    }
  }
  #map {
    height: 400px;
    width: 100%;
    float: none;
  }
}
