<div id="bedroom" class="container">
  <div id="bedroom_h2">
    <h2>AVERAGE ONE BEDROOM IN</h2>
    <h2><%= @location.neighborhood.name.upcase %>:</h2>
  </div>
  <h1><%= number_to_currency(@price, precision: 0) %></h1>
</div>
