<div id="establishments" class="container">
  <div id = "restaurant">
    <i class="fa fa-cutlery"></i>
    <h3><a href=" <%= @restaurant["url"] %>" target="_blank"><%= @restaurant["name"].upcase %></h3></a>
  </div>
  <div id="bar">
    <i class="fa fa-glass"></i>
    <h3><a href=" <%= @bar["url"] %>" target="_blank"><%= @bar["name"].upcase %></h3></a>
  </div>
</div>
