<h1>Finding Your Neighborhood</h1>

<img src="gps.gif" alt="finding your location" />
<div class="submission_form">
  <%=  form_for @location, url: {action: "create"}, remote: true do |f| %>
    <%= f.text_field :latitude %>
    <%= f.text_field :longitude %>
    <%= f.submit %>
  <% end %>
</div>
