<img src="https://upload.wikimedia.org/wikipedia/commons/8/88/Radar2.gif" alt="finding your location" />
<div class="submission_form">
  <%=  form_for @location, url: {action: "create"}, remote: true do |f| %>
    <%= f.text_field :latitude %>
    <%= f.text_field :longitude %>
    <%= f.submit %>
  <% end %>
</div>
